/* style */
.ribs,
.tater,
.meatloaf {
    background-color: red;
    padding: 50px;
    border-color: black;
    border-radius: 10px;
    margin: 10px;

    
}
.topname {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    
    
}
a {
    color: black;
}
html {
    background-image: url(recipes/aivike2.jpeg);
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
}
